#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --inside: rgb(0, 0, 0);
  --overlay: rgb(12, 49, 91);
  --background: rgb(56, 52, 52);
  --hacker: rgb(1, 164, 12);
}

.overlay
{
  background-color:var(--overlay);
  padding:50px;
  border-radius: 10px;
  display:block;
  

}
body{
  background-color:var(--background); 
}

.windowCount
{
  background-color: var(--inside);
  border-radius: 20px;
  padding:0;
  color:var(--hacker);

}

#recent
{
  border-radius:20px;
  background-color:var(--inside) ;
  width: 500px;
  height:250px;
  padding:25px 10px;
  color:var(--hacker);
  font-size: 17px ;
  resize:none;
  

}
label{
  background-color: var(--inside);
  border-radius: 20px;
  width:100%;
  padding:0 50px;
}

.countRoot{
  margin:30px;
}

@media (min-width: 1500px) {
  .overlay
  {
    display: flex;
  }
  
}